:root {
    --diffdel-col:#cc3333;
    --diffdel-col2:#ffb6ba;
    --diffdel-col3:#fee8e9;
    --diffadd-col: #399839;
    --diffadd-col2: #97f295;
    --diffadd-col3: #cef7d4;
    --diffbg-col: #ffffff;
    --diffempty-col: #ececec;
    --diff-col: #000000;
    --diffchnged-col: #c9a113;
    --difflink-col: #3572b0;
}
