:root {
    --diffdel-col:#fee8e9;
    --diffdel-col2:#ffb6ba;
    --diffdel-col3:#e65e5e;
    --diffadd-col: #cef7d4;
    --diffadd-col2: #97f295;
    --diffadd-col3: #45aa45;
    --diffbg-col: #242424;
    --diff-col: white;
    --diffempty-col: #232323;
    --diffchnged-col: #c9a113;
    --difflink-col: #3f88d1;
}

body {
    color: var(--diff-col);
    background-color: var(--diffbg-col);
}