.d2h-file-header{ background-color: var(--diffbg-col); border-bottom-color: var(--diffempty-col); }
.d2h-file-wrapper, .d2h-file-collapse{ border: 0; }
.d2h-file-collapse.d2h-selected{ background-color:var(--diffempty-col); }
.d2h-file-diff .d2h-del.d2h-change{ background-color:var(--diffdel-col3); }
.d2h-file-diff .d2h-ins.d2h-change{ background-color: var(--diffadd-col3); }
.d2h-file-list-wrapper a, .d2h-file-list-wrapper a:visited{ color:var(--difflink-col); }
.d2h-lines-added{ color:var(--diffadd-col); }
.d2h-lines-deleted{ color:var(--diffdel-col); }
.d2h-code-line del,.d2h-code-side-line del{ background-color:var(--diffdel-col2); }
.d2h-code-line ins,.d2h-code-side-line ins{ background-color:var(--diffadd-col2); }
.d2h-code-linenumber{ background-color:var(--diffbg-col); color:var(--diffbg-col); }
.d2h-code-side-linenumber{ background-color:var(--diffbg-col); color: var(--diff-col-weak); }
.d2h-code-side-emptyplaceholder,.d2h-emptyplaceholder{ background-color: var(--diffempty-col); border: 0; }
.d2h-del{ background-color:var(--diffdel-col3); border: 0; }
.d2h-ins{ background-color: var(--diffadd-col3); border: 0; }
.d2h-info{ background-color: var(--diffbg-col); color: var(--diff-col); border: 0; }
.d2h-deleted{ color:var(--diffdel-col); }
.d2h-added{ color:var(--diffadd-col); }
.d2h-changed{ color:var(--diffchanged-col); }
.d2h-moved{ color:var(--difflink-col); }
.d2h-tag{ background-color:var(--diffbg-col); }

.d2h-file-list>li, .d2h-deleted-tag, .d2h-added-tag, .d2h-changed-tag, .d2h-moved-tag { border: 0; }

.d2h-info { padding-top: 8px; }
.d2h-info *, .d2h-changed-tag { display: none; }

.d2h-sticky-header { background-color: var(--diffheaderbg-col); }

.d2h-file-list-title {
    font-weight: 400;
}