:root {
    --delete-col:#cc3333;
    --diffbg-col: #ffffff;
}

.d2h-file-header{ background-color: var(--diffbg-col); border-bottom-color: #d8d8d8; }
.d2h-file-wrapper{ border: 0; border-color: black; }
.d2h-file-collapse{ border: 0;  border-color: #dddddd; }
.d2h-file-collapse.d2h-selected{ background-color:#c8e1ff; }
.d2h-file-diff .d2h-del.d2h-change{ background-color:#fdf2d0; }
.d2h-file-diff .d2h-ins.d2h-change{ background-color:#ddeedd; }
.d2h-file-list-wrapper a{ color:#3572b0; }
.d2h-file-list-wrapper a:visited{ color:#3572b0; }
.d2h-file-list>li{ border: 0; border-bottom:1px solid #dddddd; }
.d2h-lines-added{ border: 0; border-color: #b4e2b4; color:#399839; }
.d2h-lines-deleted{ border: 0; border-color: #e9aeae; color:var(--deleted-col); }
.d2h-code-line del,.d2h-code-side-line del{ background-color:#ffb6ba; }
.d2h-code-line ins,.d2h-code-side-line ins{ background-color:#97f295; }
.d2h-code-linenumber{ background-color:var(--diffbg-col); border-color: #eeeeee; color:#000000; }
.d2h-code-side-linenumber{ background-color:var(--diffbg-col); border-color: #eeeeee; color:#000000; }
.d2h-code-side-emptyplaceholder,.d2h-emptyplaceholder{ background-color:#f1f1f1; border-color:#e1e1e1; }
.d2h-del{ background-color:#fee8e9; border: 0; border-color:#e9aeae; }
.d2h-ins{ background-color:#ddffdd; border: 0; border-color:#b4e2b4; }
.d2h-info{ background-color:#f8fafd; border: 0; border-color:#d5e4f2; color:#000000; }
.d2h-deleted{ color:var(--deleted-col); }
.d2h-added{ color:#399839; }
.d2h-changed{ color:#d0b44c; }
.d2h-moved{ color:#3572b0; }
.d2h-tag{ background-color:var(--diffbg-col); }
.d2h-deleted-tag{ border: 0; border-color: var(--deleted-col); }
.d2h-added-tag{ border: 0; border-color: #399839; }
.d2h-changed-tag{ border: 0; border-color: #d0b44c; }
.d2h-moved-tag{ border: 0; border-color: #3572b0; }
